<h1 class="my-4">New Car Listing</h1>

<%= form_with (
      model: car, 
      method: :post, 
      url: cars_path, 
      local: true, 
      scope: :car
    ) do |f|
%>
  <div>
    <%= f.label :make %> <br>
    <%= f.text_field :make %>
  </div>

  <div>
    <%= f.label :model %> <br>
    <%= f.text_field :model %>
  </div>

  <div>
    <%= f.label :year %> <br>
    <%= f.text_field :year %>
  </div>

  <div>
    <%= f.label :price %> <br>
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.label :condition %> <br>
    <%= f.text_field :condition %>
  </div>

  <br>

  <%= f.submit "Add Car" %>

<% end %>

<p>
  <%= link_to '&#127968; Home'.html_safe, root_path %>
</p>
