<h1><%= news_feed.title %></h1>

<p>
  Editor: <%= news_feed.editor %>
</p>

<table class="table table-striped table-bordered">
  <tbody>
    <% news_feed.news_posts.each do |news_post| %>  
      <tr>
        <td>
          <h2><%= news_post.headline %> </h3>
          <p>
            By <%= news_post.author %>
          </p>
          <p>
            <%= news_post.story %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to '< Home', root_path %>
</p>
